.startLink {
 text-decoration: none;
 color: var(--secondarColor);
}

.onButton {
 margin: 50px auto;
 height: 35vh;
}

.startBtn {
 height: 140px;
 width: 200px;
 margin: auto;
 display: inline-block;
 /* padding: 20px 20px; */
 transition: 0.3s;
}

.startBtn:hover {
 background-color: white;
 .startBtntext {
  color: #093145;
 }
}

.startBtntext {
 text-align: center;
 font-size: 50px;
 text-transform: uppercase;
}





