/* header */
.homeHeader {
 margin-top: -30px;
 text-align: center;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 20px;
}

.title {
 padding-left: 20px;
}
 

.title {
 font-size: 60px;
 color: #ffd4db;
 font-weight: bold;
 text-transform: capitalize;
 margin-right: 20px;
}

.homeLogo {
 width: var(--headerImgDim);
 height: var(--headerImgDim);
}
