/* header */
.homeHeader {
 margin-top: -30px;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.title {
 font-size: 60px;
 color: #ffd4db;
 font-weight: bold;
 text-transform: capitalize;
 margin-right: 20px;
}

.homeLogo {
 width: var(--headerImgDim);
 height: var(--headerImgDim);
 padding-left: 20px;
}

.homeSettingsLogo {
 width: 30px;
 height: 30px;
 padding-right: 20px;
 transition: filter 0.3s ease-in-out;
}

.homeSettingsLogo:hover {
 filter: invert(70%)
}
