
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&display=swap');

html * {
font-family: 'Comic Neue', cursive;
}
html a {
font-family: 'Comic Neue', cursive;
}
html span {
font-family: 'Comic Neue', cursive;
}
