.settings {
 margin-top: 30px;
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 height: 20vh;
 max-width: 50vw;
 margin: auto;
 transition: 0.3s;
}

.settings:hover {
 background-color: white;
 .fontType {
  color: #093145;
 }
}

.fontDrop {
 width: 70px;
 height: 60px;
}

.fontType {
 font-size: 20px;
 color: var(--textColor);
 font-weight: bold;
 text-transform: capitalize;
 margin-right: 20px;
 padding-left: 20px;
 color: #ffd4db;
}

.SettingsXLogo {
 width: 40px;
 height: 40px;
 padding-right: 20px;
 transition: filter 0.3s ease-in-out;
}

.SettingsXLogo:hover {
 filter: invert(70%)
}

