.settings {
 margin-top: 20px;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.settings:hover {
 background: white;
 .fontType {
   color: var(--mainColor);
 }
}

.fontType {
 font-size: 20px;
 color: var(--textColor);
 font-weight: bold;
 text-transform: capitalize;
 margin-right: 20px;
 padding-left: 20px;
}

.SettingsXLogo {
 width: 30px;
 height: 30px;
 padding-right: 20px;
 transition: filter 0.3s ease-in-out;
}

.SettingsXLogo:hover {
 filter: invert(70%)
}

