:root {
  --mainColor: #093145;
  --secondarColor: #ffd4db;
  --thridColor: #d3b5e5; 
  --textColor: #fff; 
  --headerImgDim: 60px;
  --textSize: 40px;
  --font: 'Lexend', sans-serif;
  --letterSpace: 2px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
