* {
  border-radius: 20px;
}

body {
  margin: 0;
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 600px;
  min-height: 300px;
  background-image: linear-gradient(to right, #0f172a, #64748b);
  letter-spacing: var(--letterSpace);
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
